In [1]:
import numpy as np

import pandas as pd

In [2]:
cars = pd.read_csv("./cars.csv", delimiter=";")

In [3]:
cars.head()

,Unnamed: 0,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
0,449069,2006,Chrysler,300,Base,Sedan,automatic,2c3ka43r76h366165,il,1.9,119618.0,blue,gray,go financial,4775,2500,Thu May 28 2015 03:00:00 GMT-0700 (PDT)
1,197199,2014,Volkswagen,Jetta,S,Sedan,manual,3vw1k7aj9em275429,ca,4.9,7740.0,—,black,volkswagen credit inc/sc,12050,12750,Wed Jul 01 2015 09:30:00 GMT-0700 (PDT)
2,288171,2007,Dodge,Durango,SLT,SUV,automatic,1d8hd48p97f510727,fl,1.9,166628.0,gold,tan,mid atlantic finance/clearwater,2850,2700,Wed Feb 11 2015 08:00:00 GMT-0800 (PST)
3,277025,2013,Mercedes-Benz,E-Class,E350 Sport,Sedan,automatic,wddhf5kb3da735753,tx,3.8,23923.0,white,off-white,mercedes-benz financial services,32200,32000,Thu Feb 12 2015 03:00:00 GMT-0800 (PST)
4,322760,2013,Ford,Explorer,XLT,SUV,automatic,1fm5k8d84dgc59887,mi,5.0,18494.0,red,black,"ford motor credit company,llc",29100,28100,Thu Jun 11 2015 02:30:00 GMT-0700 (PDT)

In [9]:
cars["condition"].unique()

array([1.9, 4.9, 3.8, 5. , 4.1, 4.4, 2.8, 3.5, 4.7, 3.4, 3.9, 2. , 3.7,
       2.9, 3.6, 4.8, 3. , 2.5, 4.6, 2.2, 2.7, 4.2, 2.6, 1. , 3.2, 4.5,
       4.3, 1.8, 4. , 3.3, nan, 2.3, 2.1, 3.1, 2.4, 1.3, 1.7, 1.6, 1.4,
       1.5, 1.1])

In [10]:
min(cars["condition"].unique()), max(cars["condition"].unique())

(1.0, 5.0)

In [11]:
# Function to convert numerical condition to categorical
def convert_condition(cond):
    if 1.0 <= cond < 2.0:
        return 'Fair'
    elif 2.0 <= cond < 3.0:
        return 'good'
    elif 3.0 <= cond < 4.0:
        return 'Like New'
    elif 4.0 <= cond < 5.0:
        return 'New'
    elif cond == 5.0:
        return 'Excellent'
    else:
        return 'unknown'  # In case there are unexpected values

# Applying the function
cars['condition'] = cars['condition'].apply(convert_condition)

print(cars["condition"].unique())

['Fair' 'New' 'Like New' 'Excellent' 'good' 'unknown']

In [14]:
cars["color"].unique()

array(['blue', '—', 'gold', 'white', 'red', 'silver', 'black', 'gray',
       'burgundy', 'brown', 'turquoise', 'orange', 'green', 'beige',
       'yellow', 'purple', 'off-white', 'charcoal', nan, 'pink'],
      dtype=object)

In [15]:
cars["color"].nunique()

19

In [18]:
cars.dtypes

Unnamed: 0        int64
year              int64
make             object
model            object
trim             object
body             object
transmission     object
vin              object
state            object
condition        object
odometer        float64
color            object
interior         object
seller           object
mmr               int64
sellingprice      int64
saledate         object
dtype: object

In [19]:
cars.head()

,Unnamed: 0,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
0,449069,2006,Chrysler,300,Base,Sedan,automatic,2c3ka43r76h366165,il,Fair,119618.0,blue,gray,go financial,4775,2500,Thu May 28 2015 03:00:00 GMT-0700 (PDT)
1,197199,2014,Volkswagen,Jetta,S,Sedan,manual,3vw1k7aj9em275429,ca,New,7740.0,—,black,volkswagen credit inc/sc,12050,12750,Wed Jul 01 2015 09:30:00 GMT-0700 (PDT)
2,288171,2007,Dodge,Durango,SLT,SUV,automatic,1d8hd48p97f510727,fl,Fair,166628.0,gold,tan,mid atlantic finance/clearwater,2850,2700,Wed Feb 11 2015 08:00:00 GMT-0800 (PST)
3,277025,2013,Mercedes-Benz,E-Class,E350 Sport,Sedan,automatic,wddhf5kb3da735753,tx,Like New,23923.0,white,off-white,mercedes-benz financial services,32200,32000,Thu Feb 12 2015 03:00:00 GMT-0800 (PST)
4,322760,2013,Ford,Explorer,XLT,SUV,automatic,1fm5k8d84dgc59887,mi,Excellent,18494.0,red,black,"ford motor credit company,llc",29100,28100,Thu Jun 11 2015 02:30:00 GMT-0700 (PDT)